extends base

block css
  link(rel='stylesheet', type='text/css', href='/__moo__/github.min.css')

block js
  script(type='text/javascript', src='/__moo__/ender.min.js')
  script(type='text/javascript', src='/__moo__/app.js')
