<!DOCTYPE html>
<html>
<head>
  <title>Preview {{ name }}</title>
  <link rel="stylesheet" type="text/css" href="/static/md.css" />
</head>
<body>
  <div id="readme">
    <span class="name">
      <span class="mini-icon mini-icon-readme"></span>
      {{ name }}
    </span>
    <article class="markdown-body">
      {% autoescape false %}
        {{ content }}
      {% endautoescape %}
    </article>
  </div>
  <script type="text/javascript">
  (function () {
    var source = new EventSource('/update');
    source.onmessage = function (event) {
      window.location.reload();
    };
  })();
  </script>
</body>
</html>